{% extends 'base.html.twig' %}

{% block title %}Simulation Dashboard{% endblock %}

{% block body %}
    <div class="simulation-dashboard">
        <div class="header">
            {{ total }} Upcoming bets for {{ "now"|date("d.m.Y") }}

            <div class="progress-container">
                <div class="time-left" id="time-left"></div>
                <div class="progress-bar" id="progress-bar"></div>
            </div>



        </div>
        <div class="navi">
            <div class="link"><a href="{{ path('app_tipico_simulator_list') }}">To Simulator List</a></div>
            <div class="link"><a href="{{ path('app_favorite_list') }}">To Favorite List</a></div>
        </div>
        <div class="overview">
            <span class="finished">Finished: <span class="finished-value">{{ finished }}</span></span>
            <span class="open">To go: {{ open }}</span>
        </div>
        <div class="statistic-panel">

            <div>
                {{ component('TopSimulatorStatistic', {'statisticData' : beforeLastWeekStatistic}) }}
            </div>
            <div>
                {{ component('TopSimulatorStatistic', {'statisticData' : lastWeekStatistic}) }}
            </div>
            <div>
                {{ component('TopSimulatorStatistic', {'statisticData' : yesterdayStatistic, 'headerText': 'Yesterday'}) }}
            </div>
            <div>
                {{ component('TopSimulatorStatistic', {'statisticData' : currentDayStatistic, 'headerText': 'Today'}) }}
            </div>
        </div>

        <div class="chart-board">
            <div class="cashbox-chart">
                <div class="cashbox-chart-header">
                    <span class="total">Total: {{ totalSimulators }}</span>
                    <span class="active">Active: {{ activeSimulators }}</span>
                    <span class="inactive">Inactive: {{ inactiveSimulators }}</span>
                    <span class="in-win">Winning: {{ inWinSimulators }}</span>
                </div>
                {{ render_chart(cashBoxChart) }}
            </div>
            <div class="cashbox-chart">
                <div class="cashbox-chart-header">
                    Home-odd distribution
                </div>
                {{ render_chart(chartHome) }}
            </div>
{#            <div class="switchable-content">#}
{#                <div class="switchable-content-header">#}
{#                    Switch#}
{#                </div>#}
{#                <div class="switchable-content-element active">#}
{#                    Home distribution#}
{#                    {{ render_chart(chartHome) }}#}
{#                </div>#}
{#                <div class="switchable-content-element inactive">#}
{#                    Draw distribution#}
{#                    {{ render_chart(chartDraw) }}#}
{#                </div>#}
{#                <div class="switchable-content-element inactive">#}
{#                    Away distribution#}
{#                    {{ render_chart(chartAway) }}#}
{#                </div>#}
{#            </div>#}
        </div>
        <div class="simulation-dashboard-upcoming">
{#            {{ component('UpcomingFixture', {'fixtures' : nextPlacements, 'targetBetOn' : betOn, 'searchBetOn': betOn }) }}#}
        </div>
    </div>
{% endblock %}
