{% extends 'base.html.twig' %}

{% block title %}{{ simulator.identifier }}{% endblock %}

{% block body %}
    <div class="simulator-detail-name">{{ simulator.identifier }}</div>
    <div class="simulator-detail-navi">
        <div class="link"><a href="{{ path('app_tipico_simulation_dashboard') }}">Dashboard</a></div>
        <div class="link"><a href="{{ path('app_tipico_simulator_list') }}">To Simulator List</a></div>
        <div class="link"><a href="{{ path('app_tipico_simulation_placements', {simulator: simulator.id}) }}">Placements</a></div>
    </div>


    <div class="simulator-detail">

        <div class="simulator-detail-widget cashbox">
            <div class="simulator-detail-widget-col">
                <div class="simulator-detail-widget-col-e">
                    <div class="simulator-detail-widget-header">
                        CashBox
                    </div>
                    <div class="simulator-detail-widget-content">
                        {{ simulator.cashBox }} €
                    </div>
                </div>

                <div class="simulator-detail-widget-col-e">
                    <div class="simulator-detail-widget-header">
                        Possible bets today
                    </div>
                    <div class="simulator-detail-widget-content">
                        {{ nextPlacements|length }}
                    </div>
                </div>

                <div class="simulator-detail-widget-col-e">
                    <div class="simulator-detail-widget-header">
                        Performance
                    </div>
                    <div class="simulator-detail-widget-content">
                        {{ component('KeyValueListing', {'container' : statistics['result']}) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="simulator-detail-widget">
            <div class="simulator-detail-widget-col">
                <div class="simulator-detail-widget-col-e">
                    <div class="simulator-detail-widget-header">
                        Last Week
                    </div>
                    <div class="simulator-detail-widget-content">
                        {{ component('LastWeekStatistic', {'statisticData' : lastWeekStatistic}) }}
                    </div>
                </div>

                <div class="simulator-detail-widget-col-e">
                    <div class="simulator-detail-widget-header">
                        Next fixtures
                    </div>
                    <div class="simulator-detail-widget-content">
                        <div class="upcoming-fixtures-detail">
                            {{ component('UpcomingFixture', {'fixtures' : nextPlacements, 'betOn' : betOn, 'overUnderTarget': overUnderTarget }) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>

{#        <div class="simulator-detail-widget">#}
{#            <div class="simulator-detail-widget-header">#}
{#                Next fixtures#}
{#            </div>#}
{#            <div class="simulator-detail-widget-content">#}
{#                <div class="upcoming-fixtures-detail">#}
{#                    {{ component('UpcomingFixture', {'fixtures' : nextPlacements, 'betOn' : betOn}) }}#}

{#                </div>#}
{#            </div>#}
{#        </div>#}


    </div>

    <div class="simulator-detail">
        <div class="simulator-detail-widget">
            <div class="simulator-detail-widget-header">
                CashBox Changes
            </div>
            <div class="simulator-detail-widget-content-chart">
                {{ render_chart(cashBoxChart) }}
            </div>
        </div>

        <div class="simulator-detail-widget">
            <div class="simulator-detail-widget-header">
                Win Ratio by weekdays
            </div>
            <div class="simulator-detail-widget-content-chart">
                {{ render_chart(dailyDistributionChart) }}
            </div>
        </div>

        <div class="simulator-detail-widget">
            <div class="simulator-detail-widget-header">
                Win Ratio by odds
            </div>
            <div class="simulator-detail-widget-content-chart">
                {{ render_chart(valueToWinDistributionChart) }}
            </div>
        </div>
    </div>

    <div class="simulator-detail">

        <div class="simulator-detail-widget">
            <div class="simulator-detail-widget-header">
                Daily Ratio
            </div>
            <div class="simulator-detail-widget-content">
                {{ component('KeyValueListing', {'container' : statistics['dailyRatios']}) }}
            </div>
        </div>

        <div class="simulator-detail-widget">
            <div class="simulator-detail-widget-header">
                Win Ratio by odds (search values)
            </div>
            <div class="simulator-detail-widget-content">
                {{ component('KeyValueListing', {'container' : statistics['valueDistributionByBetOn']}) }}
            </div>
        </div>


        <div class="simulator-detail-widget">
            <div class="simulator-detail-widget-header">
                Win Ratio by odds (target values)
            </div>
            <div class="simulator-detail-widget-content">
                {{ component('KeyValueListing', {'container' : statistics['valueDistribution']}) }}
            </div>
        </div>

    </div>

{% endblock %}
