<div class="key-value-listing" {{ attributes }}>
    <table>
        {% set keys = this.keys %}
        {% set values = this.values %}
        {% for key in keys %}
            {% if loop.index % 2 == 0 %}
            <tr class="key-value-listing-row-even">
                <td>
                    {{ key }}
                </td>
                <td>
                    {{ values[loop.index-1] }}
                </td>
            </tr>
            {% else %}
                <tr class="key-value-listing-row-odd">
                    <td>
                        {{ key }}
                    </td>
                    <td>
                        {{ values[loop.index-1] }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
