<div{{ attributes }}>
    <div class="negative-period">
        <div class="np-header">{{ this.header|raw }}</div>
        <div class="np-date"><span class="np-days">{{ this.days }}</span> ({{ this.start }} - {{ this.end }}) <span
                    class="np-sum">{{ this.sum }} €</span> am {{ this.minimumDate }}</div>
    </div>
</div>