<div class="simulator" {{ attributes }}>
    <tr>
        <td>{{ simulator.id }}</td>
        <td>
            <div class="simulator-name">
                <a href="{{ path('app_tipico_simulation_placements', {simulator: simulator.id}) }}">{{ simulator.identifier }}</a>

                {{ this.description|raw }}
            </div>
        </td>
        <td>{{ simulator.cashBox }}</td>
        <td>
            <div class="switchable-content">
                <div class="switchable-content-header"></div>
                <div class="switchable-content-element active">
                    {{ render_chart(this.cashBoxChart(true)) }}
                    <a href="{{ path('app_tipico_simulation_detail', {simulator: simulator.id}) }}">Detail</a>
                </div>
                <div class="switchable-content-element inactive">
                    {{ render_chart(this.valueToWinDistributionChart()) }}
                </div>
                <div class="switchable-content-element inactive">
                    {{ render_chart(this.dailyDistributionChart()) }}
                </div>
            </div>
        </td>
        <td>
            {% set statistic = this.statistics %}
            <div class="switchable-content">
                <div class="switchable-content-header"></div>
                <div class="switchable-content-element active result-content">{{ component('KeyValueListing', {'container' : statistic['result']}) }}</div>
                <div class="switchable-content-element inactive daily-ratios-content">{{ component('KeyValueListing', {'container' : statistic['dailyRatios']}) }}</div>
                <div class="switchable-content-element inactive daily-value-content">{{ component('KeyValueListing', {'container' : statistic['valueDistribution']}) }}</div>
                <div class="switchable-content-element inactive daily-value-content">{{ component('KeyValueListing', {'container' : statistic['valueDistributionByBetOn']}) }}</div>
            </div>
        </td>
    </tr>
</div>