{% extends 'base.html.twig' %}

{% block title %}Hello SimulatorController!{% endblock %}

{% block body %}
    <div class="form">
        {{ form(form) }}
    </div>
    <div class="favorite-detail">
        <div class="name">{{ name }}</div>
        <div class="total {{ container.listClass }}">{{ container.currentBalance }}€</div>
        {% for simulator in container.simulatorDetails %}
            <div class="favorite {{ simulator.simulatorClass }}">
                <div class="row">
                    <div class="ident">
                        <a href="{{ path('app_tipico_simulation_detail', {simulator: simulator.simulator.id}) }}">{{ simulator.simulator.identifier }}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="changeVolume">
                        {{ simulator.currentBalance }}€
                    </div>
                    <div class="bets">
                        {{ simulator.donePlacements }}/{{ simulator.possiblePlacements }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
