{% extends 'base.html.twig' %}

{% block title %}Hello SimulatorController!{% endblock %}

{% block body %}
    <div class="form">
        {{ form(form) }}
    </div>
    <div class="favorite-detail">
        <div class="name">{{ name }}</div>
        <div class="total {{ totalClass }}">{{ total }}€</div>
        {% for simulator in simulators %}
            <div class="favorite {{ simulatorClass[loop.index - 1] }}">
                <div class="row">
                    <div class="ident">
                        <a href="{{ path('app_tipico_simulation_detail', {simulator: simulator.id}) }}">{{ simulator.identifier }}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="changeVolume">
                        {{ simulator.changeVolume }}€
                    </div>
                    <div class="bets">
                        {{ simulator.madeBets }}/{{ possiblePlacements[loop.index - 1] }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
