{% extends 'base.html.twig' %}

{% block title %}{{ list.identifier }} - PlacementsToday{% endblock %}


{% block body %}
    <div class="">
        <div class="container mb-4 mt-4">
            <a href="{{ path('app_favorite_detail', {simulatorFavoriteList: list.id}) }}"
               class="btn btn-primary">Detail</a>
        </div>
        <div class="alert alert-info text-center my-3">
            <strong>Summary:</strong>
            We have to place {{ placementCount }} bets and need to invest at least {{ invest }}€
        </div>

        {% for upcomingPlacement in upcomingPlacements %}
            <div class="simulator-place">
                <div class="simulator-detail-name {{ upcomingPlacement['activeOnCurrentWeekday'] ?: 'inactive' }} ">
                    <i class="fa-solid fa-cash-register"></i>

                    {{ upcomingPlacement['simulator'].identifier }}
                </div>
                <div class="simulator-detail-widget">

                    <div class="upcoming-fixtures-detail">
                        {{ component('UpcomingFixture', {'simulator' : upcomingPlacement['simulator'], 'fixtures' : upcomingPlacement['upcomingPlacements'], 'targetBetOn' : upcomingPlacement['targetBetOn'], 'searchBetOn': upcomingPlacement['searchBetOn'], 'overUnderTarget': upcomingPlacement['overUnderTarget'], isActiveOnWeekDay: upcomingPlacement['activeOnCurrentWeekday']}) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
